<h2>Rice Bowl Ingredients</h2>
<div ng-controller='IngredientIndexController as IngredientIndexViewModel'>
  <ul>
    <li>Test</li>
    <li>{{IngredientIndexViewModel.veg[0]}}</li>
  </ul>

  <div data-ng-repeat="veg in IngredientIndexViewModel.veg">
  </div>
  <div data-ng-repeat="i in IngredientIndexViewModel.veg2">
    <ul>
      <li>{{IngredientIndexViewModel.veg2}}</li>
    </ul>
  </div>
  <!-- <div data-ng-repeat="grain in IngredientIndexViewModel.grain">
    <ul>
      <li>{{grain}}</li>
    </ul>
  </div>
  <div data-ng-repeat="protein in IngredientIndexViewModel.protein">
    <ul>
      <li>{{protein}}</li>
    </ul>
  </div>
  <div data-ng-repeat="sauce in IngredientIndexViewModel.sauce">
    <ul>
      <li>{{sauce}}</li>
    </ul>
  </div> -->
</div>
<button><a data-ui-sref="ingredientsNew">Add a New Ingredient</a></button>
